{
    "extends": "divvy",
    // didn't want to change the config for VScode that I have to use in other projects :) 
    "rules": {
        "react/prop-types": [
            "off"
        ],
        "no-unused-vars": "warn",
        "indent": "off",
        "react/jsx-indent": "off",
        "comma-dangle": "off",
        "react/jsx-sort-props": "off"
    }
}